:root {
    --background-color: #fffcee;
    --text-color: #333;
    --accent-color: #FFB703;
    --sectionPadding: 0rem 1rem; /*clamp(1rem, 5vw, 5rem) 1rem;*/
    --title-font: "Lora", serif;
    --section-title-font: "Lora", serif;
    --body-font: "DM Sans", serif;
}

body {
    background-color: var(--background-color);
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.7;
    font-size: 20px;
    color: var(--text-color);
    padding: 0 10px;
    font-family: var(--body-font);
}

div {
    margin: auto;
    width: 90%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
}

hr {
    opacity: .5;
    border-width: 0 0 3px;
    border-style: dashed;
    background: 0 0;
    width: 75%;
    margin: 1.8em auto;
}


a:hover {
    color: var(--accent-color);
}

.icon:hover {
    background: var(--accent-color);
}

.sectionTitle {
    font-family: var(--section-title-font);
    font-weight: 600;
}

.sectionTitle:hover {
    text-decoration: var(--accent-color) underline;
}

.icon {
    width: 2rem;
}

.note {
    font-style: italic;
}

#mainTitle {
    font-family: var(--title-font);
    font-weight: 500;
    text-align: center;
}

#iconContainer {
    flex-direction: row;
    justify-content: space-around;
}

#visitorCount {
    font-style: italic;
    text-align: center;
}

/* Mobile */
@media only screen and (min-width: 0rem) {

    .resumeSection {
        padding: var(--sectionPadding);
    }

    .container {
        max-width: 107.5rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /*gap: 2rem;clamp(3rem, 6vw, 4rem);*/
    }
}

/* Tablet */
@media only screen and (min-width: 37.5rem) {

}

/* Desktop */
@media only screen and (min-width: 81.25rem) {

}
